//
// Variables
//


// Colors
$brand-color: 				#4392d0 !default;
$brand-danger:              #ff6655 !default; 


// // Links
// $link-color:                 #4392d0 !default; // $body-color 
// $link-border-color:          rgba($body-color, .2) !default;
// $link-decoration:            none !default; 
// $link-hover-color:           $brand-danger !default; // $brand-color 
// $link-hover-decoration:      none !default;
// $link-hover-border-color:    rgba($brand-color, .2) !default; 


// Typography
$font-family-base:           "roboto-custom", Arial, sans-serif !default; 
$font-size-base: 			 16px !default; 
$line-height-base:           1.428 !default; 


